/* ================================================= */
/*                   GOOGLE FONTS                    */
/* ================================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* ================================================= */
/*                    VARIAVEIS CSS                  */
/* ================================================= */
:root {
  /* ===================== Cores ===================== */
  --bg-primary-color: hsl(216, 18%, 16%);
  --bg-primary-btn-color: #61dafb;
  --bg-second-btn-color: #034253;
  --text-primary-color: hsl(219, 60%, 40%);
  --text-second-color: hsl(0, 0%, 92%);
  --text-second-btn-color: hsl(0, 33%, 98%);
  --border-primary-color: #FFFFFF;
  --modal-bg-color: hsl(0, 0%, 82%);

  /* ================== Tipografia =================== */
  --first-font: 'Roboto', sans-serif;
  --h1-font-size: 2.5rem;
  --medium-font-size: 2rem;
}


/* ================================================= */
/*                  LIGHT THEME                      */
/* ================================================= */
.light-theme {
  /* ===================== Cores ===================== */
  --bg-primary-color: #faf6f1;
  --text-second-color: #262626;
  --border-primary-color: hsl(219, 60%, 40%);
}


/* ================================================= */
/*                    RESET CSS                      */
/* ================================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--first-font);
}

body {
  background-color: var(--bg-primary-color);
}

h1 {
  font-size: var(--h1-font-size);
}


/* ================================================= */
/*           CLASSES CSS REUTILIZÁVEIS               */
/* ================================================= */

.hide {
  display: none !important;
}
